{% extends "AppJoyeria/base.html" %}
{% load static %}
{% block titulo %}Editar Cliente{% endblock titulo %}

{% block contenidoQueCambia %}
<div class="container">
    <div class="table-container">
        <h1>Editar</h1>
        <form action="" method="POST">
            {% csrf_token %}
            
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Editar" class='btn btn-primary'>
            <a href="{% url 'leerClientes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock contenidoQueCambia %}