{% extends "AppJoyeria/base.html" %}
{% load static %}
{% block titulo %}Eliminar Cliente{% endblock titulo %}

{% block contenidoQueCambia %}
<div class="container">
    <div class="table-container">
        <h1>Eliminar</h1>
        <form action="" method="POST">
            {% csrf_token %}
            Estas seguro que deseas Borrar el Cliente: {{cliente.nombre}} - Apellido: {{cliente.apellido}} ??
            <input type="submit" value="Eliminar" class= 'btn btn-primary'>
            <a href="{% url 'leerClientes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
        
    </div>
</div>
{% endblock contenidoQueCambia %}